.form {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

.form-field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.form-field__input {
    width: 50px;
    font-size: 20px;
}