.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #d3d3d3;
}

.snake {
    background-color: red;
    border: 1px solid red;
}

.food {
    background-color: yellow;
}