body {
    background-color: #c8d6af;
    color: #393E41;
}

a {
    color: #393E41;
}

button {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #393e41;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center
}

.link {
    font-size: 22px;
}

.link:first-child {
    margin-right: 20px;
}