.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center
}

.link {
    font-size: 22px;
}

.link:first-child {
    margin-right: 20px;
}